section {
    overflow: hidden;
    height: 10vh;
    margin: 0;
    padding: 0;
    background-color: #4e54c8;
}

.wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    transform: scale(1, 1);
    background-color: #ffffff;
    background-image:
        radial-gradient(#444df780 0.050em, transparent 0.050em),
        radial-gradient(#444df780 0.050em, #ffffff 0.050em);
    background-size: 20px 20px;
    background-position: 0 0, 12px 12px;
}

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: #4e54c8;
    right: -25%;
    top: 20px;
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
    background-color: #ffffff;
    background-image:
        radial-gradient(#444df780 0.050em, transparent 0.050em),
        radial-gradient(#444df780 0.050em, #ffffff 0.050em);
    background-size: 20px 20px;
    background-position: 0 0, 12px 12px;
}