.footer {
    background: #4e54c8;
    border-top: 2em solid #4e54c8;
    color: #fff;
    overflow: hidden;
    margin-top: -1em;
    text-align: center;
}

.icon {
    transition: 0.5s;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.05);
}

.copyright {
    user-select: none;
}